<div>
    <button class="app-button" mat-raised-button color="primary" (click)="onLogout()">Logout</button>
</div>

<h2>Listings</h2>

<div class="listings">
    <div class="listing" *ngFor="let listing of listings$ | async">
        <div>
            {{ listing.address }} - {{ listing.city }}
        </div>

        <div>Rooms: {{ listing.room }}</div>

        <div>Price: {{ listing.price }} $</div>
        <hr>
    </div>
</div>

