<mat-toolbar color="primary">
    <span class="title">JWT-POC</span>
</mat-toolbar>

<div class="app-content">
    <div>
        <a routerLink="/home">LISTINGS</a>
    </div>

    <router-outlet></router-outlet>
</div>


